[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.version]
path = "streaq/__init__.py"

[project]
name = "streaq"
description = "Fast, async, type-safe job queuing with Redis streams"
readme = "README.md"
requires-python = ">=3.10"
license = {file = "LICENSE"}
authors = [
    { name = "Graeme Holliday", email = "graeme@tastyware.dev" }
]
dependencies = [
    "crontab>=1.0.1",
    "redis[hiredis]>=5.2.1",
    "typer-slim>=0.15.1",
    "watchfiles>=1.0.4",
]
dynamic = ["version"]

[project.optional-dependencies]
fastapi = [
    "fastapi>=0.115.7",
    "fast-depends>=2.4.12",
    #msgpack
]

[project.scripts]
streaq = "streaq.__main__:cli"

[dependency-groups]
dev = [
    "pyright>=1.1.392.post0",
    "pytest>=8.3.4",
    "pytest-cov>=6.0.0",
    "ruff>=0.9.3",
    "sphinx>=8.1.3",
    "sphinx-rtd-theme>=3.0.2",
    "testcontainers[redis]>=4.9.1",
]

[tool.setuptools.package-data]
"streaq" = ["py.typed"]

[tool.setuptools.packages.find]
where = ["streaq"]

[tool.ruff.lint]
ignore = [
    "E731",  # lambda-assignment
]
