name: Python application

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    # redis service
    services:
      redis:
        image: redis:latest
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - uses: yezz123/setup-uv@v4
    - name: Setup uv venv
      run: |
        uv sync --all-extras
    - name: Lint with ruff
      run: |
        uv run ruff check streaq/ tests/
    - name: Type check with pyright
      run: |
        uv run pyright streaq/ tests/
    - name: Test with pytest
      run: |
        uv run pytest --cov=streaq --cov-report=term-missing tests/ --cov-fail-under=90
