name: Python application

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
    env:
      TERM: 'dumb'
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0  # Fetch all history for all branches

    - name: Install uv and Python
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
        python-version: ${{ matrix.python-version }}

    - name: Setup uv venv
      run: uv sync --locked --all-extras --dev

    - name: Lint with ruff
      run: uv run ruff check streaq/ tests/ example.py

    - name: Type check with pyright
      run: uv run pyright streaq/ tests/ example.py

    - name: Test with pytest
      run: |
        docker compose run --rm tests uv run --locked --all-extras --dev pytest -n auto --dist=loadgroup --cov=streaq tests/
